/* Updated 2022-02-28 */

.dashboard {
    padding-left: 25px !important;
    padding-right: 25px !important;
    padding-top: 20px !important;
}

.dashboard .markdown-preview-section {
    max-width: 100%;
}

/* Title at top of the document */
.dashboard .markdown-preview-section .title {
    top: 60px;
    position: absolute;
    font-size: 26pt !important;
    font-weight: bolder;
    letter-spacing: 8px;
}

.dashboard h1 {
    border-bottom-style: dotted !important;
    border-width: 1px !important;
    padding-bottom: 3px !important;
}

.dashboard div > ul {
    list-style: none;
    display: flex;
    column-gap: 50px;
    row-gap: 30px;
    flex-flow: row wrap;
}

.dashboard div > ul > li {
    min-width: 250px;
    width: 15%;
}

/* mobile */
@media (max-width: 480px) {
	.cm-line {
		font-size: 14px ! important;
	}
}

/* tablet */
@media (min-width: 480px) {
	.cm-line {
		font-size: 16px !important;
	}
}

/* pc */
@media (min-width: 790px) {
	.cm-line {
		font-size: 18px;
	}
}

div.markdown-preview-view li.task-list-item {
  text-indent: 0px;
  margin-left: 0px;
}

div.markdown-reading-view li.task-list-item {
  text-indent: 0px;
  margin-left: 0px;
}


/* .dataview.list-view-ul { padding-left: 0px; list-style-type: none; } */

.is-popout-window .view-header-nav-buttons {
  padding-left: 70px; /* */
  /* display: none; /* */
}
